body {
  background-color: #000;
  color: white;
}
button {
  position: relative;
  top: 50px;
}
#canvas {
  position: relative;
  top: 100px;
  left: 50px;
  z-index: 1;
  height: 960px;
  width: 720px;
}

#video {
  margin-top: 100px;
  position: absolute;
  top: 100px;
  left: 10px;
  z-index: 0;
  border: 3px #fff solid;
  border-radius: 10px;
}
