#canvas {
  position: absolute;
  top: 170px;
  left: 860px;
  z-index: 10000;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

main {
  position: relative;
  width: 1920px;
  height: 1080px;
}

img,
video {
  width: 100%;
  height: auto;
}

#background_video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#car_frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 1920px;
  height: 1080px;
}
#mirror_frame {
  position: absolute;
  width: 300px;
  left: 44%;
  top: 5%;
  z-index: 40;
}

#mirror_video {
  position: absolute;
  width: 290px;
  height: 80px;
  left: 44.5%;
  top: 8%;
  z-index: 30;
  border-radius: 15px 15px 15px 15px;
}

#buddy_video {
  position: absolute;
  width: 180px;
  height: 60px;
  left: 43%;
  top: 9%;
  z-index: 100;
}
